*{
    margin: 0;
    padding: 0;
}

body{
    background-color: yellow;
}

/* Main stuff*/

.titleBox{
    background-color: rgb(120, 0, 120);
    text-align: center;
    color: yellow;
    height: 100px;
}

.pageTitle{
    padding: 5px;
}

.button{
    color: rgb(120, 0, 120);
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-color: orangered;
    padding: 3px;
}

.button:hover{
    background-color: orange;
    border-color: yellow;
    color: blue;
}

.box{
    text-align: center;
    padding: 10px;
    margin: 15px;
    background-color: rgb(120, 0, 120);
    color: yellow;
}

.sidenav{
    margin: 0;
    float:left;
    width:30%;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: yellow;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: yellow;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: yellow;
    height:auto;
    margin-right: 10px;
    box-sizing: border-box;
    margin-bottom: 400px;
}

.sidenav ul{
    list-style: none;
    line-height: 20px;
    width: 130px;
    margin-left: 30%;
}

.sidenav a{
    text-decoration: none;
    color: yellow;
}

.sidenav a:hover{
    color: orangered;
}

/*Login/Sign Up Page Stuff*/

#loginButtons{
    position: relative;
    float: right;
    display: flex;
    margin: 5px;
    height: 13px;
}

#or{
    margin: 5px;
}

#mainBody{
    padding: 5px;
    color: rgb(120, 0, 120);
}

.loginSignUpBox{
    width: 33.3%;
    margin-left: 33.3%;
    margin-top:15px;
}

/*Home Button*/

.homeButton{
    float: left;
    margin: 5px;
    border-style: none;
}

#innerHomeButton{
    padding: 2px;
    box-sizing: border-box;
    height: 37px;
}

/*Everything Git*/

#treePic{
    float: right;
    margin: 10px;
}

#gitPics{
    margin: 20px;
}

#gitPic{
    margin: 20px;
}
#githubPic{
    margin: 20px;
}